<div class="footer-wrapper">
    <div class="item1">
        <h4>Technology and Services</h4>
        <p>
            <a href="https://www.dairy.com/technology-services/">Producer Payroll</a>
            <a href="https://www.dairy.com/technology-services/">Dairy Commodity Scheduling and<br>Transportation</a>
            <a href="https://www.dairy.com/technology-services/">Mobile Applications</a>
            <a href="https://www.dairy.com/technology-services/">Milk Scheduling</a>
            <a href="https://www.dairy.com/technology-services/">Intelligence and Consulting</a>
            <a href="https://www.dairy.com/technology-services/">Milk Plant Intake</a>
            <a href="https://www.dairy.com/technology-services/">Manufacturing</a>
        </p>
    </div>
    <div class="item2">
        <h4>Company</h4>
        <p>
            <a href="https://www.dairy.com/company/">About Dairy.com</a>
            <a href="https://www.dairy.com/company/">The Team</a>
            <a href="https://www.dairy.com/company/">Blimling and Associates</a>
            <a href="https://www.dairy.com/company/">Roger W Blimling</a>
            <a href="https://www.dairy.com/company/">News</a>
            <a href="https://www.dairy.com/company/">Contact</a>
        </p>
    </div>
    <div class="item3">
        <h4>Resources</h4>
        <p>
            <a href="https://www.dairy.com/webinars/">Webinars</a>
            <a href="https://www.dairy.com/webinars/">Market Prices</a>
            <a href="https://www.dairy.com/webinars/">Request a Demo</a>
            <a href="https://www.dairy.com/webinars/">Free Trials</a>
            <br>
            <br>
            <br>
            <a href="https://www.dairy.com/webinars/">General 214-360-0061</a>
            <a href="https://www.dairy.com/webinars/">Sales 800-761-8296, press 1</a>
            <a href="https://www.dairy.com/webinars/">Support 214-323-4484</a>
            <a href="https://www.dairy.com/webinars/">24×7 Hotline 800-677-0048</a>
        </p>
    </div>
    <div class="item4"></div>
</div>