@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
.no-pointer {
    pointer-events: none;
}
body {
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    margin: 0;
}
app-home {
    position: relative;
    top: -12px;
    z-index: -1;
}